## .NET
**/bin/
**/obj/
*.user
*.suo
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db

## Build
packages/
*.nupkg

## Secrets
appsettings.*.local.json
secrets.json
